name: CI

on: [push, pull_request]

jobs:
  build:
    runs-on: ubuntu-latest

    strategy:
      matrix:
        target:
          - thumbv7em-none-eabi
          - thumbv6m-none-eabi # like the Cortex-M0+
          - x86_64-unknown-linux-gnu
          - x86_64-pc-windows-msvc

    steps:
      - name: Install build dependencies
        shell: bash
        run: |
          env && pwd && sudo apt-get update -y -qq && sudo apt-get install -y -qq llvm libc6-dev-i386 libclang-dev
      - uses: fiam/arm-none-eabi-gcc@v1
        with:
          release: "9-2020-q2"

      - name: Install rust
        run: rustup show

      - uses: actions/checkout@v3

      - name: Check
        run: |
          cargo check --all-targets
          cargo check --all-targets --all-features
          cargo check --all-targets --no-default-features
          cargo check --all-targets --no-default-features --features serde
          cargo check --all-targets --no-default-features --features dir-entry-path

      - name: Build
        run: cargo build --release --verbose

      - name: Run tests
        if: matrix.target == 'x86_64-unknown-linux-gnu'
        run: >
          cargo test &&
          cargo test --release

      - name: Build Documentation
        run: cargo doc --no-deps

      - name: Deploy Docs
        if: github.ref == 'refs/heads/main'
        uses: peaceiris/actions-gh-pages@v3
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          publish_dir: ./target/doc

